@page
@model FantasyWorldCup.Api.Pages.Match.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Match</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Match.Id" />
            <div class="form-group">
                <label asp-for="Match.Schedule" class="control-label"></label>
                <input asp-for="Match.Schedule" class="form-control" />
                <span asp-validation-for="Match.Schedule" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Match.TeamAScore" class="control-label"></label>
                <input asp-for="Match.TeamAScore" class="form-control" />
                <span asp-validation-for="Match.TeamAScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Match.TeamBScore" class="control-label"></label>
                <input asp-for="Match.TeamBScore" class="form-control" />
                <span asp-validation-for="Match.TeamBScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Match.Status" class="control-label"></label>
                <select asp-for="Match.Status" class="form-control"></select>
                <span asp-validation-for="Match.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
